body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  display: inline;
}
/* 
ul, li{
  display:inline;
} */
header {
  width: 100%;
}

#headshot {
  height: 200px;
  width:200px; 
  padding:1em;
}
.header-large {
  /* display:inline; */
  background: rgb(239,30,12);
  height:14;
}
.header-minimized {
  background: rgba(221, 52, 0, 0.6);
  height:1em;
}
#header-nav {
  text-decoration: none;
  list-style: none;
}
#header-nav h1{
  font-size: 4em;
}
#header-nav a {
  text-decoration: none;
  font-size: 3em;
}

footer {
  position: fixed;
  bottom:0;
  padding: 0.5em;
  background: rgba(248,131,121,0.6);
  width:100%;
}

#flex-container {
  display:flex;
  flex-direction: column;
  justify-content: center; 
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
}
#base {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.container {
  border: 2px red solid;
}

#base #section-title{
  font-size: 4em;
}

.project-card {
  border: 2px blue solid;
  padding: 2em;
  width: 30%;
  margin: 10px;
}
footer ul {
  display:inline;
  list-style:none;
}

#todo {
  border: 5px yellow solid;
}