body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
a:visited{
  color:rgb(0, 0, 128);
}
 
header {
  width: 100%;
}
.nav-list li{
  list-style:none;
  display:inline;
}
/* give the source/deployment links cute shapes */
.project-desc a {
  padding: 10px;
  background: rgb(252, 168, 161);
  border-radius: 5px;
  margin: 2px;
  color:navy;
  text-decoration: none;
}

#headshot {
  height: 200px;
  width:200px; 
  padding:1em;
}
.header-large {
  /* display:inline; */
  background: rgb(252, 168, 161);
  padding-bottom: 5px;
  height:14;
}
.header-minimized {
  visibility:hidden;
  background: rgb(252, 168, 161);
  height:1em;
}
#header-nav {
  text-decoration: none;
  list-style: none;
}
#header-nav h1{
  font-size: 3em;
}
#header-nav a {
  text-decoration: none;
  font-size: 2em;
}

footer {
  position: fixed;
  bottom:0;
  padding: 0.5em;
  background: rgba(248,131,121,0.1);
  width:100%;
}

#flex-container {
  display:flex;
  flex-direction: column;
  justify-content: center; 
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
}
#base {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.container {
  border: 2px red solid;
}

.section-title{
  font-size: 4em;
}

.project-card {
  /* border: 2px blue solid; */
  border-radius:25px;
  box-shadow: 0px 0px 15px rgb(128, 128, 128);
  padding: 5em;
  width: 30%;
  margin: 2%;
}
footer ul {
  display:inline;
  list-style:none;
}
